<section class="diving">
  <ul class="diving-blok">
    <li>
      <h2 class="diving-subtitle">Lifestyle</h2>
      <p class="diving-text">live</p>
      <img src="./img/Lifestyle.png" alt="Lifestyle" />
    </li>
    <li>
      <h2 class="diving-subtitle">Diving</h2>
      <p class="diving-text">Enjoy yourself</p>
      <img src="./img/diving.png" alt="Diving" />
    </li>
    <li>
      <h2 class="diving-subtitle">Super diving</h2>
      <p class="diving-text">Don't stand still</p>
      <img src="./img/super_diving.png" alt="Diving" />
    </li>
  </ul>
</section>
